body{
background:#222222;
}
#frame{
border: none;
height:705px;
width:800px;
margin:auto;
background:#c4c4c4;
position:relative;
}
#toptext{
border:none;
width:300px;
height:10px;
float:right;
position:relative;
right:170px;
top:40px;
}
p.top{
font-family:Century gothic;
color:#b0c223;
font-size:13px;
}
h1{
font-size:35px;
letter-spacing:-4px;
color:#FFFFFF;
font-family:Century;
margin-top:-30px;
font-weight:lighter;
}
h2{
font-size:25px;
letter-spacing:0px;
color:#b0c223;
font-family:Arial;
}
h3{
font-size:20px;
letter-spacing:0px;
color:#b0c223;
font-family:Arial;
}
img.logo{
margin-top:40px;
margin-left:30px;
}
#meny{
border:none;
width:170px;
height:500px;
position:relative;
top:-540px;
right:15px;
float:right;
}
p{
font-size:15px;
color:#000000;
font-family:Arial;
line-height:30px;
}
#info{
border-left:1px #adaaad dotted;
border-right:1px #adaaad dotted;
width: 570px;
height: 551px;
position:relative;
overflow:hidden;
position:relative;
top:0px;
left:20px;
background:#FFFFFF;
padding-left:10px;
}
a.meny, a.meny:visited{
color:#FFFFFF;
font-family:Century gothic;
size: 20px;
text-decoration:none;
letter-spacing:0px;
margin-left:30px;
}
a.meny:hover{
color:#86922a;
font-family:Century gothic;
size: 20px;
text-decoration:none;
letter-spacing:0px;
margin-left:30px;
}
#backgroundButton{
width:150px;
height:24px;
padding:5px;
margin:auto;
margin-bottom:-35px;
position:relative;
bottom:0px;
background:url('bilder/buttonbackground2.png');
}
#backgroundButton:hover{
width:150px;
height:24px;
padding:5px;
position:relative;
bottom:0px;
margin:auto;
margin-bottom:-35px;
background:url('bilder/buttonbackground.png');
}
a, a:visited{
color:#97ac09;
font-family:Arial;
size: 10px;
text-decoration:none;
letter-spacing:0px
}
a:hover{
color:#86922a;
font-family:Arial;
size: 10px;
text-decoration:underline;
letter-spacing:0px
}
#head{
background:url('bilder/head.png');
border-bottom:4px #ccd680 solid;
width:100%;
height:150px;
margin:auto;
}
#foot{
width:1600px;
height:100px;
background:url('bilder/backgroundFoot.png');
position:fixed;
bottom:0px;
left:0px;
}
#back{
border-top:2px #000000 solid;
width:830px;
height:720px;
background:url('bilder/stripes.png');
margin:auto;
position:relative;
}
